/* reset geral do css da pagina */

*{
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    

}
/* comando usando para mudar o status de visualização de um componente */
.hide{
    display: none;
}


/* condiguração incial  dos campo geral de visualização */

.content{

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    border: 1px solid #000;

}

.content h1{

    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 2.5rem;

}

/* configuração de estilo da lista de pokemons */

.pokemon-list{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    border: 10px solid #fff;
    width: 50%;
    min-height: 80vh;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0, 0, 0.5);
    border-radius: 1rem;
    margin-right: 2rem;

}

.pokemon-list ol{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


.normal {background-color: #a6a877}
.grass {background-color: #77c850}
.fire {background-color:#ee7f30}
.water {background-color:#678fee}
.electric {background-color:#f7cf2e}
.ice {background-color:#98d5d7}
.ground {background-color:#dfbf69}
.flying {background-color:#a98ff0}
.poison {background-color:#a040a0}
.fighting {background-color:#bf3029}
.psychic {background-color:#f65687}
.dark {background-color:#725847}
.rock {background-color:#b8a137}
.bug {background-color:#a8b720}
.ghost {background-color:#6e5896}
.steel {background-color:#b9b7cf}
.dragon {background-color:#6f38f6}
.fairy {background-color:#f9aec7}




.mini-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem;
    border-radius: 1rem;
    height: 150px;
    width: 250px;
    text-align: center;
    margin: 0.1rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.info-mini-card h3, p{
    margin-bottom:1rem;
    color: #fff;
    font-weight: bolder;
    text-transform:capitalize;

}

.info-mini-card p {
    padding: 0.5rem;
    border-radius: 1rem;
    filter: brightness(1.1);
   
}

.mini-card img{
    height:70px;
    max-width: 120px;
    margin-left: 1rem;
}

.btn-more{
    background-color: #fff;
    border: none;
}

/* congiduração do arquivo de paginação layout */

.paginacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 1rem;
}

.paginacao button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}



/* visualização de dados compelta do pokemon no frontdex */


.pokedex-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid #fff; 
    width: 50%;
    height: 80vh;
    box-shadow: 2px 2px 2px 2px rgba(0.3, 0, 0, 0.5);
    border-radius: 1rem;
    background-color: #fff;
}

/* info inicial do card de visualização completa */
.info-card{
    display: flex;
    justify-content: space-between;
    margin:2rem 0 0 2rem;
    width: 90%;
    height: 40%;

}

.info-card p, h3{
    color: #000;
    margin-bottom: 1rem;
    text-align: left;
    text-transform: capitalize;
}
.info-card p{
    border: 1px solid #fff;
    border-radius: 1rem;
    width: 60%;
    text-align: center;
    padding: 0.5rem;
}
.info-card h3{
    font-size: 34px;
}

/* imagem do pomemon */

.img-card img{
    height: 200px;
    max-width: 250px;
    
}

/* configuração geral das info e buttom*/

.info-stats{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 60%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.btn-info{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 0.7rem;
}

.btn-info button{
    border: none;
    background-color:#fff;
    border-radius: 1rem;
    width: 60%;
    font-size: 16px;
    color: #000;
    font-weight: bolder;
}

.btn-info button:active{
    border-bottom: green solid 1px;
}

/* tabelas de conteudo */

.card-about, .base-stats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

table{
    margin-top: 1rem;
    width: 80%;
}

table td{
    text-align: center;
}


.td-label{
    color: #000;
    font-weight: bolder;
    width: 50%;
    
}

/* base status config */

.base-stats{
    margin-top: 2rem;
}






